@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: #333;
}

h3 {
  font-size: 2rem;
  color: #f4f4f4;
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}

.container {
  max-width: 500px;
  margin: auto;
  border-left: blue 2px solid;
  border-right: blue 2px solid;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.task_input {
  display: block;
  width: 400px;
  font-size: 1.2rem;
  background-color: #333;
  border: none;
  border-bottom: 2px #fff solid;
  border-radius: 3px;
  color: #f4f4f4;
}

.add_btn {
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 0.5rem;
  align-self: start;
  border: none;
  padding: 0.2rem 0.75rem;
  color: blue;
  background-color: #333;
  border: blue 2px solid;
  cursor: pointer;
  width: 100px;
  transition: background 0.2s ease;
}

.add_btn:hover {
  color: #000;
  background-color: royalblue;
  border: #000 2px solid;
}

.task {
  border: 1px royalblue solid;
  margin-bottom: 5px;
  display: flex;
  width: 400px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_task {
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.clear_tasks {
  font-size: 1.3rem;
  display: inline-block;
  align-self: flex-start;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: transparent;
  color: #f4f4f4;
  border: 1px solid red;
  cursor: pointer;
  transition: background 0.2s;
}

.clear_tasks:hover {
  background-color: #000;
}

.search_input {
  background-color: #333;
  border: none;
  border-bottom: 2px #fff solid;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}
